/* header classes */

header {
	background-image: url("../img/space-launch.webp");
	background-size: cover;
	padding-bottom: 2rem;
}

h1 {
	text-transform: uppercase;
	font-weight: 900;
	border-left: 10px solid #eeaa2e;
	padding-left: 10px;
	margin-bottom: 30px;
}

/* Spacing for title */
.hero {
	margin-top: 4rem;
	margin-bottom: 6rem;
}

/* Ticket classes */
.booking {
	border-radius: 15px;
	padding-left: 0;
	padding-right: 0;
}

#tickets {
	padding-top: 1rem;
	color: black;
	padding-bottom: 6rem;
}
